@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
body{
    margin:0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    --logo: 50px 'Russo One', sans-serif;
    --motto:  'Major Mono Display', monospace;
    color: white;
}
