.navcon{
    width: 14vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: aliceblue;
    .logocon{
        position: relative;
        top: 0vh;
        margin-top:3vw;
        // background-color: gray;
        width: 20vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: logo 5s forwards;
        animation-delay: 19s;
        z-index: -1;

        @keyframes logo {

            to{
                top: 20vh;
                margin-top: 0;
            }
            
        }
        .logo{
            // background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           .logoh1{
            font: 5vw 'Major Mono Display', monospace;
            margin: 0;
            padding: 0;
            animation: logoh1 5s forwards;
            animation-delay: 19s;
    
            @keyframes logoh1 {
    
                to{
                    font-size: 20vw;
                }
                
            }
           }
           .logosub{
               margin: 0;
               width: 11.5;
                font: 3vw 'Teko', sans-serif;
                text-align: center;
                line-height: 1.2vw;
                animation: logosub 2s forwards;
                animation-delay: 20s;
        
                @keyframes logosub {
        
                    to{
                        font-size: 12vw;
                        line-height: 4.8vw
                    }
                    
                }
           }

        }
        
    }
}